@import "reset.css";
nav {
    position: fixed;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    img{
        height: calc(var(--fs-700) * 2);
    }
    button {
        background-color: var(--clr-primary);
        color: var(--clr-background);
        border-radius: var(--fs-700);
        border: none;
        cursor: pointer;
        font-weight: var(--fw-700);
        margin-top: var(--fs-700);
        height: calc(var(--fs-400) + 0.5rem);
        padding: 0 var(--fs-700);
        margin-right: 20px;
    
        &:hover {
            animation: 300ms button-hover ease-in-out;
            transform: scale(1.05);
        }
    }
    
    @keyframes button-hover {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.05);
        }
    }
}
#wrapper{
    width: 80%;
    height: 80%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .graph{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #191920;
        width: 40%;
        height: 100%;
        margin-top: 0;
        img{
            border-radius: 100%;
            height: calc(var(--fs-700) * 3)


        }
        .graph-child{
            background-color: #24242E;
            width: 100%;
            height: 50%;
            border-radius: 10%;

        }
        p{
            font-weight: var(--fw-700);
        }
    }
ul{
    padding: 0;
    list-style-type: inside;
    margin: 0;
    .watch-list{

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(300px + 0.1rem + var(--fs-700) * 2 + var(--fs-400));
        p{
            font-size: var(--fs-400);
            font-weight: var(--fw-700);
            color: white;
            margin-top: 0
            ;
        }
        img{
            height: calc(var(--fs-700) * 0.75);
            aspect-ratio: 1/1;
            
        }
    }
    li{
        display: flex;
        align-items: center;
        gap: var(--fs-400);
        padding: 1rem 0 ;
        img{
            height: calc(var(--fs-700) * 2);
            aspect-ratio: 1/1;
            border-radius: 100%;
        }
        
        .column-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    padding: 0;
                    margin: 0;
                }
                .short-hand{
                    font-size: var(--fs-400);
                    font-weight: var(--fw-700);


                }
            }
        }
    }
}
}
